<div class="col-xs-12 callout-news nopadding {{custom-border-size}} {{custom-border}} img-bg-over {{custom-background}}">
  <div class="col-xs-12">
    <img class="img-responsive" src="{{image}}" alt="" />
  </div>
  <div class="col-xs-12">
    <div class="row top-spacer-50 padding">
      <a href="{{url}}"><h1 class="bold-uppercase white">{{title}}</h1></a>
    </div>
    <div class="row padding">
      <p class=" white">
        {{excerpt characters="600"}}...
      </p>
    </div>
    <div class="row row-top-spacer padding">
      <a href="{{url}}" class="btn btn-primary btn-block nopadding"><h2 class="bold-uppercase">-&nbsp;&nbsp;&nbsp;VIEW POST&nbsp;&nbsp;&nbsp;-</h2></a>
    </div>
  </div>
</div>
