<!--

Classes:
bootcol-classes
custom-height
firstlline-copy
bg-position

-->

<div id="{{container-id}}" class="container-fluid {{container-classes}}">
	<div class="row">
		<div class="col-xsp-12 {{bootcol-classes}}">

			<div class="img-bg post-header-image" style="background-image:url({{#posts}}{{image}}{{/posts}}{{#post}}{{image}}{{/post}});"></div>

		</div>
	</div>
</div>