<div class="row">
  <div class="col-xs-12 nopadding">
    
    <!-- HOME BUTTON -->
    <a href="/"><img class="nav-home-button pull-left" src="{{asset "images/icons/w-merm-grad.svg"}}" alt="" /></a>

    <img class="nav-menu-button pull-right toggle-id-1" src="{{asset "images/icons/menu-button-lines-white.svg"}}" alt="" />

    <a href="https://www.facebook.com/CarolineWozniacki/" target="_blank"><img class="nav-social-button pull-right" src="{{asset "images/icons/facebook-gray.svg"}}" alt="" /></a>

    <a href="https://www.instagram.com/carowozniacki/?hl=en" target="_blank"><img class="nav-social-button pull-right" src="{{asset "images/icons/instagram-gray.svg"}}" alt="" /></a>

    <a href="https://twitter.com/CaroWozniacki?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img class="nav-social-button pull-right" src="{{asset "images/icons/twitter-gray.svg"}}" alt="" /></a>

  </div>
</div>

